*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
}

.block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.best{

    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(114, 191, 141, 1) 36%, rgba(129, 191, 131, 1) 43%, rgba(149, 190, 117, 1) 52%, rgba(161, 190, 109, 1) 58%, rgba(169, 190, 103, 1) 61%, rgba(253, 187, 45, 1) 100%);
}
.block3{
    display: flex;
    flex-wrap: wrap;

}

h5{color: black;
}

p{color: black;
    text-align: center;

}
.oae{
    color: white;
}

.item-text{
    color: black;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.label{
    margin: 5px 8px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 20px;
   background: #dddded;
background: linear-gradient(90deg, rgba(221, 221, 237, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(0, 212, 255, 1) 100%);
    transition: 1s;
}

.label:hover{
    border: 2px solid red;
    background-color: whitesmoke;
    transition: 1s;
}
h2{
    margin: 20px;
}
.block4{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
   
}   


@media (min-width:300px) and (max-width:1200px) {
.block4{
    
    flex-direction:column;
    align-items: center;
}
}

@media (min-width:300px) and (max-width:1200px) {
.card{

    flex-direction:column;
    justify-content: center;

}
}



.card{
    width: 30%;
   
     
     margin: 10px ;
}
.variant{
    height: 200px;
    width: 250px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    
}
button{
   
    margin: 10px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    

}

.text{
    display: flex;
    justify-content: center;


    
}
